# Dependencies  
node_modules/  
*/node_modules/  

# Build files  
build/  
dist/  
*/build/  

# Logs  
logs  
*.log  
npm-debug.log*  

# Editor directories  
.idea/  
.vscode/  
*.swp  

# OS files  
.DS_Store  
Thumbs.db